<header>
    <h1>Karoke List</h1>
    <a href="/user/signup"><button>Signup</button></a>
    <a href="/user/login"><button>Login</button></a>
    <a href="/user/logout"><button>Logout</button></a>
</header>