body {
    background-image: url("./images/karaoke.jpeg");
    background-repeat: repeat;
    image-rendering: crisp-edges;
    background-size: 160vh;
    color: white
    
   
}

.update {
    width: 80px
}

a:hover {
    color: goldenrod
}

button:hover {
    background-color: goldenrod;
    color: blue
}
a {
    color: whitesmoke
}
form {
    display: flex;
    flex-direction: column;
    color: whitesmoke;
   
}
article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.song {
    border: 5px ridge whitesmoke;
    display: flex;
    flex-direction: column;
    
    align-content: center;
    width: 200px;
    height: 200px;
}

.not-link {
    color: white
}

.add-song {
    display: flex;
    
}

.new {
    display: flex;
    justify-content: end;
    align-content: end;
    max-width: 200px;
}

#login-buttons {
    
    max-width: 200px;
}

.signup {
    max-width: 200px;
}

.delete {
    width: 59px
}

.update-delete {
    display: flex;
}
.show {
    max-width: 200px;
}

.all-songs {
    display: flex;
    flex-flow: row wrap;
    align-items: start;
}

* {
    font-family: "Salsa", cursive;
    font-weight: 400;
    font-style: normal;
  }
  


@media only screen and (max-width: 768px) {
    body {
        background-image: url("./images/mobile-background.jpeg");
        background-repeat: repeat;
        background-size: 78vh;
        

       
    }

    .all-songs {
        display: flex;
        flex-direction: column;
    }

}