body {
    background-image: url("./images/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover
}
a {
    color: pink
}
form {
    display: flex;
    flex-direction: column;
    color: whitesmoke;
   
}
article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.song {
    border: 1px solid gold;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 200px;
}

.not-link {
    color: rgb(229, 150, 229)
}

.add-song {
    color: rgb(229, 150, 229)
}

@media screen {
    body {
        color: white;
        background-image: url("./images/mobile-background.jpeg");
        background-repeat: repeat-y;
       
    }

    #login-buttons {
        display: flex;
        flex-direction: column;
        align-items:end ;
    }

    #signup-buttons {
        display: flex;
        flex-direction: column;
        align-items:end ;
    }

}