<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <a href="/songs"><button>Back to Your List</button></a>
  <%- include("../partials/header.ejs") %>
  
  <body>
    
   
    <main><h1 class="add-song">Add a new song to your list</h1>
      <div class="new">
        
        <form action="/songs" method="post">
          <div>
            <label
              >Name:<input 
              type="text" 
              name="songTitle" 
              placeholder="name of song"
            /></label>
            <label
              >Artist:<input
                type="text"
                name="artist"
                placeholder="name of artist"
            /></label>
            <label
              >Sang Before:<input 
              type="checkbox" 
              name="sangBefore"
            /></label>
          </div>
          <button>Add Song to List</button>
        </form>
      </div>
    </main>
  </body>
</html>